<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @need.title %>
</p>

<p>
  <strong>Picture:</strong>
  <div class="picture-preview">
  <%= image_tag @need.picture_url(:slide_show) %>
  </div>
</p>

<p>
  <strong>Description:</strong>
  <%= @need.description %>
</p>

<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>
