<%= default_form_for(@kudo, html: {multipart: true}) do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :recipient_id %>
    <%= f.text_field :recipient_id %>
  </div>
  <div class="form-group field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group field">
    <%= f.label :picture %>
    <%= f.file_field :picture, model: @kudo, uploader_label: :picture %>
    <%# <%= f.hidden_field :picture_cache %>

    <%# <% if @kudo.picture.file.exists? %>
    <%# <div class="current-preview">
    <%#   <%= image_tag @kudo.picture_url(:thumbnail) %>
    <%# </div>
    <%# <% end %>

  </div>
  <div class="form-group field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>
