				<ul>
					<li class=""><%= menu_item("home", [:welcome]) %></li>
					<li><%= menu_item("needs", [:needs]) %></li>
					<li><%= menu_item("rewards", [:rewards]) %></li>
					<li><%= menu_item("kudos", [:kudos]) %></li>
					<li><%= menu_item("family members", [:family_members]) %></li>
				</ul>

